<div id="<%= dom_id ingredient %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= ingredient.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Purchase unit:</strong>
    <%= ingredient.purchase_unit %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Purchase price:</strong>
    <%= ingredient.purchase_price %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Purchase quantity:</strong>
    <%= ingredient.purchase_quantity %>
  </div>
</div>
