<%= form_with(model: formula, class: "contents") do |form| %>
  <% if formula.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(formula.errors.count, "error") %> prohibited this formula from being saved:</h2>

      <ul class="list-disc ml-6">
        <% formula.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :unit %>
    <%= form.text_field :unit, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": formula.errors[:unit].none?, "border-red-400 focus:outline-red-600": formula.errors[:unit].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": formula.errors[:quantity].none?, "border-red-400 focus:outline-red-600": formula.errors[:quantity].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :recipe_id %>
    <%= form.text_field :recipe_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": formula.errors[:recipe_id].none?, "border-red-400 focus:outline-red-600": formula.errors[:recipe_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ingredient_id %>
    <%= form.text_field :ingredient_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": formula.errors[:ingredient_id].none?, "border-red-400 focus:outline-red-600": formula.errors[:ingredient_id].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
